*.pyc
*.pyo
*.egg-info

.tmp*
.installed.cfg
.mr.developer.cfg

# local development
/include/
/lib/
/local/
bin/
develop-eggs/
eggs/
parts/
devsrc/
dist/
var/
local.cfg
.codeintel/

# eclipse files
.project
.pydevproject
.settings
